body{
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#page_container{
	width: 1024px;
	margin: 0 auto;
}

#page_nav{
	font-size: 20px;
}

#log_table{
	width: 100%;
	font-size: 8pt;
}

.stats_table{
	width: 100%;
}
.stats_table th{
	width: 50%;
}

#page_footer{
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 5px;
	height: 20px;
}

#timestamp{
	width: 80px;
}

.timestamp{
	text-align:  center;	
}

.username{
	text-align: right;	
	width: 100px;
}

tr:nth-child(odd) {
  background-color: lightblue;
}

th{
	background-color: black;
	color: white;	
	height: 22px;
	padding-top: 3px;
}
